<div class="layout-content">
            <div class="content">
                <div class="info-block">
                    <div class="info_left">
                        <div class="info_big">404</div>
                        <div class="info_small">ошибка</div>
                    </div>
                    <div class="info_right">
                        <p>Упс! Мы не можем найти страницу,
                        которую вы ищете. Вероятно страница
                        была удалена автором, либо её здесь
                        никогда не было.</p>
                        <%= link_to 'Вернуться на главную', root_path, class: 'link_solid' %>
                    </div>
                </div>
            </div>
  </div>
