<h2><strong><%= 'Edit Stack' %></strong></h2>

<div class="field">
  <h4><label class="label label-primary">
    <%=  'File image' %>
  </label></h4>
  <div class="photo-list__image">
  <%= image_tag(@stack.image) %>
  </div>
</div>

<%= render 'form' %>
