<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">вопросы и ответы</div>
    <div class="question-wrp">
      <ul class="question-navigation question-navigation_top">
       <%= will_paginate @faqs %>
      </ul>
      <ul class="count-list count-list_alt2">
        <% @faqs.each do |f| %>
        <li class="border_bottom">
          <div class="text-title"><%= f.question %></div>
          <div><%= f.answer %></div>
        </li>
       <% end %>
       </ul>
      <ul class="question-navigation question-navigation_bottom">
      <%= will_paginate @faqs %>
      </ul>
    </div>
  </div>
</div>
