<div class="layout-content">
<div class="content">
  <div class="title_round title_orange title_large">стеллажи</div>
  <div class="section-description">Стеллажная система  - это современная мебель Вашего дома. Это универсальная мебельная система, которая может использоваться как для комнаты так и для гардероба. На этой странице представлены фото установленных систем . Конечно для каждого заказа стеллажная система проектируется индивидуально. При проектировании Вы сможете сразу увидеть 3D проект стеллажной системы.
  </div>
  <div id="list">
  <div class="photo-content border_top">
    <ul class="photo-navigation">
      <li><a href="/stacks?page=1" class="link_active" data-remote="true">1</a></li>
    </ul>
    <ul class="photo-list">
      <% @stacks.each do |s| %>
        <li>
          <a class="photo-list__link">
            <div>
              <%= image_tag(s.image) %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
<div class="content-footer border_top">
  <div>Шкаф купе — это тоже искусство!</div>
  <div class="text_orange">ARTCOUPE.</div>
</div>
</div>