<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">качество установки</div>
    <div class="warranty">
      <div class="warranty_large">2 года гарантии</div>
      <div class="warranty_small">на установленную мебель</div>
    </div>
    <div class="section-description quality-description">Если Вы хотите установить качественную встроенную мебель у себя дома, не ищите самое дешёвое предложение, чтобы потом не сожалеть о потраченных деньгах. Заниженная стоимость может быть как из-за некачественных материалов и комплектующих, так и из-за неквалифицированной работы установщиков. Также не всегда есть гарантия того что «самое дорогое — самое лучшее», в любом случае качество сборки зависит от профессионализма установщика. Помните об этом.
    </div>
    <div class="info-block-wrp border_top">
      <div class="info-block">— что значит качественная установка встроенного шкафа?
        <div class="text_blue">— разберем по полочкам ... </div>
      </div>
    </div>
    <div class="quality-info border_top">
      <div class="quality-info__title">внутренность шкафа</div>
      <ul class="quality-info__list">
        <li>1. Монтажный профиль должен быть установлен во всех местах стыковки стенок и полок встроенного шкафа и стены. Если монтажный П-образный профиль не устанавливать, то между стеной и полками, стенками шкафа будут видны щели.</li><li>2. Профили должны стыковаться между собой без зазоров и щелей.</li>
        <li>3. Полки должны подходить к стойкам (стенкам шкафа) без зазоров и щелей.
        </li>
        <li>4. Не должно быть сколов на гранях деталей.</li>
        <li>5. Ни в коем случае не должно быть бумажной кромки на торцах стенок и стоек шкафа — кромка должна быть только пластиковой.</li>
        <li>6. Зазоры между лобиками ящиков (фасады) должны быть одинаковые.</li>
        <li>7. Лицевая сторона ящиков не должна быть утоплена относительно стоек и полок.</li>
        <li>8. Ящики и корзины должны ходить мягко, не греметь, направляющие лучше использовать телескопические.</li>
        <li>9. Вешалки не должны «болтаться», они должны быть затянуты и крепко держаться на своём месте.</li>
      </ul>
      <div class="quality-info__image">
        <%= image_tag @qualities.first.image.url %>
      </div>
    </div>
    <div class="quality-info border_top">
      <div class="quality-info__title">фасад шкафа</div>
      <ul class="quality-info__list">
        <li>1. Двери шкафа купе должны быть установлены вертикально, подходить к стене без наклона.</li>
        <li>2. При неровной стене, для скрытия щели должна быть установлена выравнивающая конструкция, которая выбирается в зависимости от неровности стены.</li>
        <li>3. Нижняя направляющая должна быть установлена «по уровню». Допустимый перепад не более 3 мм. Если направляющая установлена не по уровню, то двери будут «кататься» сами по себе.</li>
        <li>4. В закрытом состоянии двери не должны «заходить» друг на друга.</li>
        <li>5. Двери шкафа купе должны ходить плавно, без трения.</li>
        <li>6. Двери ни в коем случае не должны «выскакивать» из направляющих.</li>
        <li>7. Дверь не должна «болтаться» в проёме, она должна плотно сидеть в направляющих, но при этом ходить мягко и свободно.</li>
      </ul>
      <div class="quality-info__image">
        <%= image_tag @qualities.second.image.url %>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>