<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">контакты</div>
    <div class="section-description contact-desription">Проконсультироваться и узнать ориентировочную стоимость Вашего проекта   Вы можете по телефонам: 
      <span class="text_blue text_bold">&nbsp;+ 7 (423) 278-00-08&nbsp;/&nbsp; + 7 (423) 277-04-51</span>
    </div>
      <div class="contact">
        <div class="contact-address">
          <div class="contact-row">
            <div class="text-title">Адрес:</div>
            <div>пр-т 100-летия Владивостоку, 103 
              <div>(Иллюзион), офис 434, 
                <div>Владивосток</div>
              </div>
            </div>
          </div>
          <div class="contact-row">
            <div class="text-title">Телефон:</div>
            <div>+ 7 (423) 237-51-28:</div>
          </div>
        </div>
            <div class = "contact-map" id="map-canvas"></div>
      </div>
      <form accept-charset="UTF-8" action="/contacts/create_feedback" class="contacts-form" id="new_feedback" method="post">
        <label class="text_blue text_bold">Написать нам:</label>
        <input class="contact-mail" id="feedback_email" name="feedback[email]" placeholder="E-mail" size="30"type="email" />
        <textarea id="feedback_text" name="feedback[text]" placeholder="Текст сообщения">
        </textarea>
        <input class="contact-submit" name="commit" type="submit" value="отправить" />
      </form>
    </div>
  </div>