.settings-form .country-list li {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

.settings-form .country-list li input {
  margin: 0;
  padding: 0;
}

.settings-form .country-list li label {
  margin: 0;
  padding: 0;
}

.settings-route {
  text-decoration: none;
  color: white;
  background-color: #08C;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  float: left;
}

.settings-route a {
  color: white;
}