@font-face {
	font-family: "PT Sans";
	src: url('PTS55F_W.ttf') format('truetype'), 
			 url('PTS55F_W.woff') format('woff'), 
			 url('PTS55F_W.svg') format('svg'), 
			 url('PTS55F_W.eot') format('embedded-opentype');
}

@font-face {
	font-family: "PT Sans Italic";
	src: url('PTS56F_W.ttf') format('truetype'), 
			 url('PTS56F_W.woff') format('woff'), 
			 url('PTS56F_W.svg') format('svg'), 
			 url('PTS55F_W.eot') format('embedded-opentype');
}

@font-face {
	font-family: "PT Sans Bold";
	src: url('PTS75F_W.ttf') format('truetype'), 
			 url('PTS75F_W.woff') format('woff'), 
			 url('PTS75F_W.svg') format('svg'), 
			 url('PTS75F_W.eot') format('embedded-opentype');
}

@font-face {
	font-family: "Din Mid";
	src: url('DIN_Round_Pro-Medium.ttf') format('truetype'), 
			 url('DIN_Round_Pro-Medium.woff') format('woff'), 
			 url('DIN_Round_Pro-Medium.svg') format('svg'), 
			 url('DIN_Round_Pro-Medium.eot') format('embedded-opentype');
}

@font-face {
	font-family: "Din";
	src: url('DIN_Round_Pro-Regular.ttf') format('truetype'), 
			 url('DIN_Round_Pro-Regular.woff') format('woff'), 
			 url('DIN_Round_Pro-Regular.svg') format('svg'), 
			 url('DIN_Round_Pro-Regular.eot') format('embedded-opentype');
}
