<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">комплектующие</div>
    <ul class="count-list auto count-list_alt1">
      <li class="border_bottom">Используемый нами профиль соответствует требованиям современного потребителя — таким как 
        <span class="text_bold">толщина стенок профиля (что напрямую влияет на прочность фасадов) и качественное внешнее покрытие — анодирование.
        </span>
      </li>
      <li class="border_bottom">В нижних роликах раздвижной системы используются шариковые подшипники, эта технология делает ролики максимально надёжными и практически бесшумными в эксплуатации (что очень важно для раздвижной системы). Верхние ролики также работают по принципу подшипника. 
        <span class="text_bold">Резиновые колёсики верхних роликов бесшумны в работе.
        </span> 
        Как итог — бесшумные раздвижные двери которые никогда не "вылетят" из направляющих.
      </li>
      <li class="border_bottom">При установке встроенных шкафов мы используем 
        <span class="text_bold">П-образный профиль
        </span>, это очень важно для встроенной мебели. Именно наличие этого профиля (аккуратно установленного) делает аккуратный, законченный вид шкафа снаружи и внутри.
      </li>
      <li class="border_bottom">Мы используем только 
        <span class="text_bold">ДСП австрийского и российского производства</span>. Китайский ДСП мы не используем в принципе.
      </li>
      <li class="border_bottom">Торцы ДСП кромкуются 
        <span class="text_bold">только пластиковой (PVC или ABS) кромкой</span>. Меламиновую (бумажную) кромку мы не используем.
      </li>
      <li class="border_bottom">При изготовлении цветных стёкол используется 
        <span class="text_bold">очищенное стекло. У такого стекла отсутствует зелёный оттенок.</span>
      </li>
      <li class="border_bottom">При изготовлении зеркальных фасадов мы используем 
        <span class="text_bold">зеркало, армированое плёнкой 
        </span>с обратной стороны.
      </li>
      <li class="border_bottom">На выдвижных ящиках и корзинах мы устанавливаем 
        <span class="text_bold">усиленные телескопические направляюще</span>. Они самые надёжные и позволяют выдвинуть ящик или корзину на всю глубину. Также по желанию заказчика мы устанавливаем направляющие с доводчиками. С такими направляющими ящик достаточно толкнуть для закрытия, и он сам, плавно, без шума закроется.
      </li>
      <li>На распашных дверях также устанавливаем <span class="text_bold">петли с доводчиками</span>. Благодаря таким петлям двери закрываются плавно, без хлопка.
      </li>
    </ul>
  </div>
</div>