<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">шкафы</div>
    <div class="section-description">В этом разделе представлены фотографии и проекты (с размерами) встроенных шкафов купе и гардеробов, изготовленных нашей компанией. Все представленные фото — наши работы, защищены авторским правом.
    </div>
    <div id="list">
      <div class="categories-wrp border_bottom border_top">
        <ul class="categories-list">
          <li class="indent_horiz">Количество дверей:</li>
          <li>
            <a href="/cabinets?doors" class="link_dashed" data-remote="true">2 двери</a>
          </li>
          <li>
            <a href="/cabinets?doors" class="link_dashed" data-remote="true">3 двери</a>
          </li>
          <li>
            <a href="/cabinets?doors" class="link_dashed" data-remote="true">Более 3-х</a>
          </li>
          <li class="indent_horiz">Тип шкафа:</li>
          <li>
            <a href="/cabinets?kind" class="link_dashed" data-remote="true">Прямой</a>
          </li>
          <li>
            <a href="/cabinets?kind" class="link_dashed" data-remote="true">Угловой</a>
          </li>
          <li>
            <a href="/cabinets?kind" class="link_dashed" data-remote="true">Стеллажи</a>
          </li>
          <li class="indent_horiz">Тон:</li>
          <li>
            <a href="/cabinets?tone" class="link_dashed" data-remote="true">Светлый</a>
          </li>
          <li>
            <a href="/cabinets?tone" class="link_dashed" data-remote="true">Темный</a>
          </li>
          <li class="indent_horiz">
            <a href="/cabinets" class="link_round" data-remote="true">Показать все</a>
          </li>
        </ul>
      </div>
      <div class="photo-content border_top">
        <ul class="photo-navigation">
          <li>
            <a href="/cabinets?page=1" class="link_active" data-remote="true">1</a>
          </li>
          <li>
            <a href="/cabinets?page=2" class="link_solid" data-remote="true">2</a>
          </li>
          <li>
            <a href="/cabinets?page=3" class="link_solid" data-remote="true">3</a>
          </li>
          <li>
            <a href="/cabinets?page=4" class="link_solid" data-remote="true">4</a>
          </li>
          <li>
            <a href="/cabinets?page=5" class="link_solid" data-remote="true">5</a>
          </li>
          <li>
            <a href="/cabinets?page=6" class="link_solid" data-remote="true">6</a>
          </li>
          <li>
            <a href="/cabinets?page=7" class="link_solid" data-remote="true">7</a>
          </li>
          <li>
            <a href="/cabinets?page=8" class="link_solid" data-remote="true">8</a>
          </li>
          <li>
            <a href="/cabinets?page=9" class="link_solid" data-remote="true">9</a>
          </li>
          <li>
            <a href="/cabinets?page=10" class="link_solid" data-remote="true">10</a>
          </li>
        </ul>
        <ul class="photo-list">
          <% @cabinets.each do |c| %>
            <li>
              <a class="photo-list__link">
                <div>
                  <%= image_tag(c.image) %>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>
