@import url(reset.css);
@import url(fonts.css);

.layout {
	width: 940px;
	margin: 0 auto;
	height: 100%;
	color: #363636;
	font: 13px/20px Tahoma, Arial, Helvetica, sans-serif;
}

.layout-middle {
	min-height: 100%;
	padding-bottom: 20px;
}

.layout-footer {
	margin-top: -20px;
	padding-top: 60px;
}

.header {
	padding-bottom: 60px;
}

.header-top {
	width: 100%;
	height: 104px;
	padding-top: 57px;
}

.header-phone {
	float: right;
	text-align: right;
}

.phone {
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans Italic";
	font-weight: normal;
}

.phone-hint {
	line-height: 24px;
}

.site-logo {
	display: block;
	margin: 0 auto;
	width: 170px;
	height: 44px;
	vertical-align: middle;
	background: image_url("stie-logo.png") no-repeat 0 0;
}

.header-menu-wrp {
	padding: 20px 0;
	height: 30px;
}

.header-menu {
	margin: 0 -12px;
	display:  inline-block;
}

.header-menu li {
	float: left;
}

.header-menu__item {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-transform: uppercase;
	color: #363636;
	padding: 0 7px;
	line-height: 27px;
	height: 26px;
	border: 2px solid #fff;
}

.header-menu__item_text_blue {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-transform: uppercase;
	color: #83a7ca;
	padding: 0 7px;
	line-height: 27px;
	height: 26px;
	border: 2px solid #fff;
}




.header-menu__item:hover {
	border-color: #ffae00;
}




.header-menu__item_active {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-transform: uppercase;
	color: #363636;
	padding: 0 7px;
	line-height: 27px;
	height: 26px;
	border: 2px solid #ffae00;
}

.header-menu__item_active_text_blue {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-transform: uppercase;
	color: #83a7ca;
	padding: 0 7px;
	line-height: 27px;
	height: 26px;
	border: 2px solid #ffae00;
}


.header-menu__item.text_blue {
	color: #83a7ca;
}

.border_top {
	position: relative;	
}

.border_top:before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 1px;
	background: image-url("border.png") repeat-x 0 0;
}

.border_bottom {
	position: relative;
}

.border_bottom:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 1px;
	background: image-url("border.png") repeat-x 0 0;
}






.footer {
	height: 110px;
	padding-top: 60px;
}

.content-footer {
	padding-top: 55px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	font-family: "Din Mid";
}

.footer-menu {
	width: 100%;
	padding: 25px 0 20px;
	text-align: center;
}

.footer-menu li {
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	font-size: 12px;
}

.footer-menu a {
	color: #363636;
}

.footer-menu a:hover {
	color: #ffae00;
}

.footer-rights {
	font-family: "Din Mid";
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.text_orange {
	color: #ffae00;
}

.text_blue {
	color: #83a7ca;
}

.text_bold {
	font-family: "PT Sans Bold";
}

.link_dashed {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #83a7ca;
	border-bottom: 1px dashed;
	font-family: "PT Sans Bold";
}

.link_dashed:hover {
	color: #ffae00;
}

.link_round {
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	font-family: "Arial";
	background-color: #ffae00;
	color: #fff;
	line-height: 30px;
	padding: 0 8px;
	border-radius: 4px;
	letter-spacing: 1px;
}

.link_solid {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #83a7ca;
	border-bottom: 1px solid;
	font-family: "Arial";
}

.link_solid:hover {
	color: #ffae00;
	background: none;
}

.link_active {
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #ffae00;
	border-bottom: 1px solid #fff;
	font-family: "Arial";
}

.title_round {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	border-radius: 4px;
	position: relative;
}

.title_round:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
}

.title_large {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 50px;
	font-family: "Din Mid";
	padding: 0 18px;
}

.title_small {
	min-width: 210px;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	font-family: "Arial";
}

.title_orange {
	background-color: #ffae00;
}

.title_orange.title_round:after {
	border-color: #ffae00 transparent transparent transparent;
}

.title_blue {
	background-color: #83a7ca;
}

.title_blue.title_round:after {
	border-color: #83a7ca transparent transparent transparent;
}

.contact-desription {
	margin-top: 55px;
	font-size: 13px;
}

.contact {
	height: 270px;
}

.contact-address {
	float: left;
	width: 240px;
	height: 164px;
	background: #83a7ca;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	padding: 53px 30px;
}

.contact-row {
	margin-bottom: 30px;
	font-family: "Arial";
}

.text-title {
	font-size: 15px;
	margin-bottom: 10px;
}

.contact-map {
	float: left;
	position: relative;
	width: 300px;
	height: 270px;
}

.pin {
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 40px;
	width: 54px;
	height: 80px;
	background: image-url("pin.png") no-repeat 0 0;
}

.contacts-form {
	padding: 54px 0 90px;
	width: 300px;
}

.contacts-form label {
	letter-spacing: 0.9px;
	font-size: 16.5px;
	line-height: 20px;
}

.contact-mail {
	outline: none;
	border: 1px solid #b7b7b7;
	padding: 7px 18px;
	width: 264px;
	height: 14px;
	font-family: "Arial";
	font-style: italic;
	font-size: 13px;
	line-height: 14px;
	margin: 14px 0 20px;
}

.contact-mail::-webkit-input-placeholder {
	font-family: "Arial";
	font-size: 13px;
	line-height: 18px;
}

.contact-mail::-moz-placeholder {
	font-family: "Arial";
	font-size: 13px;
	line-height: 18px;
}

.contact-mail:-moz-placeholder {
	font-family: "Arial";
	font-size: 13px;
	line-height: 18px;
}

.contact-mail:-ms-input-placeholder {
	font-family: "Arial";
	font-size: 13px;
	line-height: 18px;
}

.contacts-form textarea {
	outline: none;
	border: 1px solid #b7b7b7;
	padding: 7px 18px;
	width: 264px;
	height: 75px;
	font-family: "PT Sans Italic";
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 12px;
	resize: none;
}

.contacts-form textarea::-webkit-input-placeholder {
	color:transparent;
	font-family: "PT Sans Italic";
	font-size: 14px;
	line-height: 18px;
}

.contacts-form textarea::-moz-placeholder {
	font-family: "PT Sans Italic";
	font-size: 14px;
	line-height: 18px;
}

.contacts-form textarea:-moz-placeholder {
	font-family: "PT Sans Italic";
	font-size: 14px;
	line-height: 18px;
}

.contacts-form textarea:-ms-input-placeholder {
	font-family: "PT Sans Italic";
	font-size: 14px;
	line-height: 18px;
}

.contact-submit {
	float: right;
	width: 140px;
	height: 40px;
	cursor: pointer;
	background-color: #83a7ca;
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	border: none;
	font-family: "Din Mid";
}

.contact-submit:hover {
	background-color: #ffae00;
}

.question-wrp {
	width: 780px;
	padding: 10px 0 40px;
}

.question-navigation {
	float: right;
}

.question-navigation li {
	display: inline-block;
}

.question-navigation_bottom {
	margin: 20px -20px 0 0;
}

.question-navigation_top {
	margin: -26px -19px 0 0;
}

.count-list {
	counter-reset: list1;
}

.count-list li {
	position: relative;
	list-style-type: none;
}

.count-list li:before {
	content: counter(list1) ". ";
	counter-increment: list1;
	font-size: 13px;
	line-height: 20px;
	color: #83a7ca;
	width: 20px;
	text-align: left;
	font-family: "PT Sans Bold";
}

.count-list_alt1 {
	width: 630px;
	padding-top: 20px;
}

.count-list_alt1 li {
	display: block;
	padding: 25px 0 25px 15px;
	margin-left: 5px;
}

.count-list_alt1 li:before {
	position: absolute;
	left: -5px;
}

.count-list_alt2 li {
	display: block;
	padding: 25px 0 25px 25px;
	margin-left: 5px;
}

.count-list_alt2 li:before {
	position: absolute;
	left: -5px;
}

.auto	{
	font-size: 14px;
	font-family: "PT Sans"
}

.warranty {
	display: inline-block;
	width: 196px;
	border: 2px solid #83a7ca;
	text-align: center;
	text-transform: uppercase;
	color: #83a7ca;
	font-family: "Din Mid";
	margin: 0 17px;
	padding: 7px 0;
}

.warranty_large {
	font-size: 19px;
	line-height: 19px;
}

.warranty_small {
	font-size: 12px;
	line-height: 13px;
}

.quality-info {
	padding: 50px 0 45px;
}

.quality-info:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.quality-info__title {
	font-size: 21px;
	line-height: 40px;
	color: #83a7ca;
	text-transform: uppercase;
	font-family: "Din Mid";
	margin-bottom: 25px;
}

.quality-info__title:before {
	content: '— ';
	font-size: 21px;
	line-height: 40px;
	color: #83a7ca;
	text-transform: uppercase;
	font-family: "Din Mid";
}

.quality-info__list {
	float: left;
	width: 450px;
	margin-right: 30px;
}

.quality-info__list li {
	padding: 0 0 10px 20px;
	position: relative;
}

.quality-info__list li:before {
	position: absolute;
	left: 0px;
}

.quality-info__image {
	float: left;
	padding: 10px;
	width: 440px;
	background-color: #ededed;
	line-height: 0;
}

.info-block-wrp {
	padding: 60px 0;
}

.info-block-wrp:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.info-block {
	float: left;
	width: 393px;
	padding: 27px 0 32px 30px;
	border-radius: 8px;
	background-clip: padding-box;
	background-color: #f5f5f5;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
	font-size: 21px;
	line-height: 30px;
	color: #363636;
	/*text-transform: uppercase;*/
	font-family: "Din Mid";
	position: relative;
}

.info-block:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 10;
	top: 100%;
	left: 50%;
	margin-left: -28px;
	border-color: #f5f5f5 transparent transparent transparent;
	border-width: 28px 28px 0 28px;
	border-style: solid;
}

.info-block:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 10;
	top: 100%;
	left: 50%;
	margin-left: -26px;
	border-color: #d9d9d9 transparent transparent transparent;
	border-width: 28px 28px 0 28px;
	border-style: solid;
}

.info-block .text_blue {
	margin-top: 10px;
}

.section-description {
	margin: 35px 0 55px;
	width: 50%;
}

.quality-description {
	width: 760px;
	font-size: 14px;
}

.photo-content {
	padding: 25px 0 40px;
}

.photo-navigation {
	float: right;
}

.photo-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-left: 3px;
}

.photo-list {
	clear: both;
	padding-top: 25px;
	margin-right: -20px;
}

.photo-list:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.photo-list li {
	float: left;
	margin: 0 20px 20px 0;
}

.photo-list__link {
	display: block;
	width: 280px;
	height: 200px;
	padding: 10px;
	background-color: #ededed;
}
.photo-list__link:hover {
	background-color: #ffae00;
}

.photo-list__link img {
	max-width: 280px;
	max-height: 200px;
}

.categories-wrp {
	padding: 48px 0 43px;
}

.categories-list li {
	display: inline-block;
	vertical-align: text-bottom;
	line-height: 30px;
	margin-bottom: 5px;
	font-size: 11px;
}



.categories-list .link_dashed {
	font-family: "Arial";
	margin: 8px 3px 7px 5px;
}



.categories-list .indent_horiz {
	padding-left: 13px;
	margin-right: 5px;
}

.categories-list .indent_horiz:first-child {
	padding-left: 0;
}

.categories-list_fill li {
	/*letter-spacing: 1px;*/
}


.categories-list_fill .link_dashed {
	margin: 8px 10px 7px 9px;
	font-family: "Verdana";
}

.color-list {
	clear: both;
	padding: 25px 0;
	margin-right: -20px;
}

.color-list:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.color-list li {
	float: left;
	margin: 0 20px 20px 0;
}

.color-list__item {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	padding: 10px;
	background-color: #ededed;
	overflow: hidden;
}

.color-list__item:hover .color-list__hover {
	width: 120px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.color-list__item:hover img {
	width: 0;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.color-list__item img {
	position: relative;
	max-width: 120px;
	max-height: 120px;
}

.color-list__hover {
	position: absolute;
	width: 0;
	height: 120px;
	padding-top: 25px;
	top: 10px;
	right: 10px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	font-family: "Arial";
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f7ad0b;
	overflow: hidden;
}

.index-head {
	padding-bottom: 60px;
	position: relative;
}

.index-head .info-block {
	font-size: 24px;
	line-height: 40px;
	padding: 22px 60px 19px 48px;
	width: 314px;
}

.index-head .section-description {
	font-size: 15px;
	width: 100%;
	margin-bottom: 10px;
}

.index-head:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.index-head:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 1px;
	background: image-url("border.png") repeat-x 0 0;
}

.info-block-wrp {
	padding: 60px 0;
}

.info-block-wrp:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.info-block {
	float: left;
	width: 393px;
	padding: 27px 0 32px 30px;
	border-radius: 8px;
	background-clip: padding-box;
	background-color: #f5f5f5;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
	font-size: 21px;
	line-height: 30px;
	color: #363636;
	text-transform: uppercase;
	font-family: "Din Mid";
	position: relative;
}

.info-block:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 10;
	top: 100%;
	left: 50%;
	margin-left: -28px;
	border-color: #f5f5f5 transparent transparent transparent;
	border-width: 28px 28px 0 28px;
	border-style: solid;
}

.info-block:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	z-index: 10;
	top: 100%;
	left: 50%;
	margin-left: -26px;
	border-color: #d9d9d9 transparent transparent transparent;
	border-width: 28px 28px 0 28px;
	border-style: solid;
}

.info-block .text_blue {
	margin-top: 10px;
}

.page-info {
	float: left;
	margin-left: 55px;
	width: 450px;
}

.page-info .link_dashed {
	font-size: 11px;
	font-family: "PT Sans";
}

.index-rotator {
	padding: 60px 11px 108px;
	margin: 0 -11px;
	background: image-url("shadow.png") no-repeat 0 100%;
}

.index-rotator-control {
	line-height: 30px;
	height: 30px;
	padding-bottom: 30px;
}

.index-rotator-control:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.index-rotator-control li {
	float: left;
}

.index-rotator-control .rotator-nav {
	float: right;
}

.index-rotator-control .title_round {
	margin-right: 23px;
}

.index-rotator-control .text_small {
	font-size: 11px;
}

.index-rotator-control .link_solid {
	margin-left: 10px;
}

.index-rotator-control .control_l {
	margin-right: 20px;
}

.index-rotator-control .control_r {
	margin-right: 20px;
}

.index-rotator-wrp {
	width: 100%;
	overflow: hidden;
}

.index-rotator-list {
	width: 4000px;
}

.index-rotator-list:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.index-rotator-page {
	float: left;
	width: 940px;
}

.index-rotator-page ul {
	margin-right: -20px;
}

.index-rotator-page li {
	float: left;
	margin-right: 20px;
}

.index-about {
	padding: 60px 0 50px;
}

.index-about_left {
	float: left;
	width: 470px;
	margin-right: 150px;
}

.index-about-right {
	float: left;
	width: 320px;
}

.index-about-right .link_dashed {
	font-size: 11px;
	font-family: "PT Sans";
}

.list-round li {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;

}

.list-round li:before {
	content: '• ';
	display: inline-block;
	width: 18px;
	font-size: 14px;
	line-height: 20px;
	color: #83a7ca;
}

.index-about .title_round {
	margin-bottom: 36px;
}

.index-about p {
	margin-bottom: 40px;
}

.index-about .text_bold {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 0px;
}

.clear {
	clear: both;
	width: 100%;
	height: 0;
}

.index-info {
	padding: 60px 0 20px;
}

.index-info:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}

.index-info .contact {
	float: left;
	width: 460px;
	margin-right: 20px;
}

.index-info .contact-map {
	width: 200px;
}

.index-info .contact-address {
	width: 210px;
	padding: 27px 20px 49px 29px;
	font-size: 13px;
}

.index-info .contact-address .link_solid {
	display: inline-block;
	font-size: 11px;
	margin-top: 14px;
	color: #fff;
	font-family: "PT Sans";
}

.index-info .contact-address .contact-row {
	margin-bottom: 18px;
}

.index-info .contact-address .text-title {
	font-size: 13px;
}

.index-info .contact-map {
	height: 240px;
}

.index-faq {
	float: left;
	width: 395px;
	height: 180px;
	padding: 40px 45px 20px 20px;
	background-color: #f5f5f5;
	position: relative;
}

.index-faq .title_round {
	margin-bottom: 10px;
}

.index-faq-wrp {
	width: 395px;
	height: 160px;
	overflow: hidden;
}

.index-faq-list {
	width: 3000px;
	height: 160px;
}

.index-faq__item {
	height: 100%;
	width: 395px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.index-faq__item .faq__text {
	font-size: 15px;
	padding: 25px 60px 20px 0;

}

.index-faq__item .faq__link {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #83a7ca;
	text-decoration: underline;
}

.control_l {
	display: block;
	width: 16px;
	height: 30px;
	background: image-url("index-control_l.png") no-repeat 0 0;
}

.control_l:hover {
	background-image: image-url("index-control_l-hover.png");
}

.control_r {
	display: block;
	width: 16px;
	height: 30px;
	background: image-url("index-control_r.png") no-repeat 0 0;
}

.control_r:hover {
	background-image: image-url("index-control_r-hover.png");
}

.index-faq .control_r {
	position: absolute;
	top: 110px;
	right: 30px;
	z-index: 10;
}



.next_page, .previous_page {
  display: none;
}
  .pagination .current {
    	background-color: white;
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #ffae00;
	border-bottom: 1px solid #fff;
	font-family: "Arial"; 
}
  .pagination a {
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #83a7ca;
	border-bottom: 1px solid;
	font-family: "Arial";
	 }

    .pagination a:hover{
    	color: #ffae00;
	background: none;
    } 

    




/*
a {
 
-moz-transition: color 0.1s 0.02s ease;
 -o-transition: color 0.1s 0.02s ease;
 -webkit-transition: color 0.1s 0.02s ease;
 color:#222;
 }
 
a:hover {
 color: #1FA2E1;
 }*/